@import "styles/_colors.scss";
@import "styles/_elevations.scss";

.PlayerDetails {
    &_Header {
        padding: 16px;
        display: flex;
        gap: 32px;
        background-color: $gray-50;
        align-items: flex-end;
        margin-bottom: 120px;
        box-shadow: $elevation-1;

        @media (max-width: 1280px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    &_Image {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        transform: translateY(50%);
        box-shadow: $elevation-1;

        @media (max-width: 1280px) {
            transform: translateY(0);
        }
    }

    &_Avatar {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &_Username {
        font-size: 36px;
        font-weight: 700;

        @media (max-width: 1280px) {
            text-align: center;
        }
    }

    &_Country {
        @media (max-width: 1280px) {
            text-align: center;
        }
    }

    &_Rank {
        font-size: 72px;
        font-weight: 400;
        color: $gray-400;

        @media (max-width: 1280px) {
            text-align: center;
        }
    }

    &_HeaderStats {
        align-self: center;
        margin-inline: auto;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 540px) {
            grid-template-columns: 1fr;
        }
    }

    &_Cards {
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;

        @media (max-width: 1280px) {
            grid-template-columns: auto;
        }
    }

    &_CardText {
        font-size: 36px;
    }
}
